<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.captone4">
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->

    <meta-data
        android:name="com.naver.sdk.clientId"
        android:value="@string/l2zyQ0k9TZ3aQM23wl5K" />
    <meta-data
        android:name="com.naver.sdk.clientSecret"
        android:value="@string/EyYbd2j7ke" />
    <meta-data
        android:name="com.naver.sdk.clientName"
        android:value="@string/catch_me" />
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
